<header id="main-header">
  <div id="logo">
    <a href="/">Sakal Letters</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/new-letter">Add new Letter</a>
      </li>
      <li>
        <a href="/letters">All Letters</a>
      </li>
      <li>
        <a href="/receivers">Receivers</a>
      </li>
      <li>
        <a href="/departs">Departments</a>
      </li>
    </ul>
  </nav>
</header>